<launch>
	<include file="$(find hippo2)/launch/upload_pioneer3dx.xml"/>
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <remap from="joint_state" to="joint_state"/>
    <param name="publish_frequency" type="double" value="15.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>
  <node pkg="hippo2" type="state_publisher" name="state_publisher">
  </node>
</launch>
